<%- include('../modules/header'); %>

<main>
  <div class="greeting">
    <p id="welcome">Welcome to ACM.</p>
    <a href="/register">Sign Up</a>
    <a href="/poll">Take the survey</a>
    <a href="/officers">Elections</a>
  </div>
</main>
<script src="https://unpkg.com/typewriter-effect/dist/core.js"></script>
<script type="text/javascript">
  var app = document.getElementById('welcome');

  var typewriter = new Typewriter(app, {
      loop: true
  });

  typewriter.typeString('Welcome to ACM.')
      .pauseFor(5500)
      .deleteAll()
      .typeString('Get started right hefe')
      .pauseFor(250)
      .deleteChars(3)
      .typeString('ere.')
      .pauseFor(2500)
      .start();
</script>
<%- include('../modules/footer'); %>
