<%- include('../modules/header'); %>

<main>
  <div class="greeting">
    <p id="welcome">Welcome to ACM.</p>
    <a target="_blank" href="https://goo.gl/forms/pu2FFAc8bePCiRwJ2">Team Project Form</a>
    <a target="_blank" href="https://goo.gl/forms/wzQKHjHNYDBa5LGO2">Team Member Form</a>
  </div>
</main>
<script src="https://unpkg.com/typewriter-effect/dist/core.js"></script>
<script type="text/javascript">
  var app = document.getElementById('welcome');

  var typewriter = new Typewriter(app, {
      loop: true
  });

  typewriter.typeString('Welcome to ACM.')
      .pauseFor(5500)
      .deleteAll()
      .typeString('Let\'s make some sweet prjec')
      .pauseFor(250)
      .deleteChars(3)
      .typeString('ojects.')
      .pauseFor(2500)
      .start();
</script>
<%- include('../modules/footer'); %>
