<%- include('../modules/header'); %>
<main>
  <div class="card-container">
    <div class="officer-card">
      <h2>Chair</h2>
      <img class="profile" src="media/profile.png" alt="Cory Swainston, President">
      <p class="italic">Cory Swainston</p>
      <p>
        A separate seat for one person, typically with a back and four legs.
        </p>
    </div>
    <div class="officer-card">
      <h2>Vice Chair</h2>
      <img class="profile" src="media/happy.jpg" alt="Cory Swainston, President">
      <p class="italic">Joe Ridgley</p>
      <p>The best looking of the officers.</p>
    </div>
    <div class="officer-card">
      <h2>Secretary</h2>
      <img class="profile" src="media/happy.jpg" alt="Cory Swainston, President">
      <p class="italic">Bradley Dawson</p>
      <p>
        Primarily responsible for sending emails, scheduling, and recording meetings.
        </p>
    </div>
    <div class="officer-card">
      <h2>Treasurer</h2>
      <img class="profile" src="media/happy.jpg" alt="Cory Swainston, President">
      <p class="italic">Jonathan Colwell</p>
      <p>
        Responsible for financial matters in the chapter.
        </p>
    </div>
  </div>
</main>
<%- include('../modules/footer'); %>
