<%- include('../modules/header'); %>
<main>
  <div class="greeting">
    <p>Welcome to ACM!</p>
    <a href="/register">Sign Up</a>
    <a href="/poll">Join Poll</a>
    <a href="/officers">Elections</a>
  </div>
</main>
<%- include('../modules/footer'); %>
